
{:paths ["clojure/dev" "clojure/src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "RELEASE"}
        com.rpl/specter     {:mvn/version "RELEASE"}
        dom-top/dom-top     {:mvn/version "RELEASE"}}}

